<div class="chat-box">
  <!-- chat head -->
  <div class="header">
    <div class="avatar-wrapper avatar-big">
      <img src="https://cdn4.vectorstock.com/i/1000x1000/44/73/boy-avatar-in-round-web-button-isolated-on-white-vector-20694473.jpg" alt="avatar" />
    </div>
    <span class="name">Hey!</span>
    <span class="options">
      <div class="row">
      <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-language fa-2x" aria-hidden="true"></i></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click) = "changeLang('en')">English</button>
        <button ngbDropdownItem (click) = "changeLang('hi')" >Hindi</button>
        <button ngbDropdownItem (click) = "changeLang('te')">Telugu</button>
        <button ngbDropdownItem (click) = "changeLang('bn')">Bengali</button>
        <button ngbDropdownItem (click) = "changeLang('ta')">Tamil</button>
        <button ngbDropdownItem (click) = "changeLang('kn')">Kannada</button>
        <button ngbDropdownItem (click) = "changeLang('ml')">Malayalam</button>
        <button ngbDropdownItem (click) = "changeLang('mr')">Marathi</button>
      </div>
    </div>
  </div>
</div>
      <!-- <i class="fa fa-language" aria-hidden="true"></i>
      <select>
        <option value="en">English</option>
        <option value="hi">Hindi</option>
        <option value="te">Telugu</option>
        <option value="bn">Bengali</option>
        <option value="ta">Tamil</option>
        <option value="kn">Kannada</option>
      </select> -->
    </span>
  </div>
  <!-- chat head -->
  <!-- chat body -->
  <div class="chat-room" #scroll >
    <div  class="msg-lst" *ngFor="let i of msgList">
      <!-- {{msgList | json }} -->
      <div class="message message-left" *ngIf="i.from =='bot'">
        <div class="bubble bubble-light">
          {{i.msg | translate :langDef:langChange | async }}
        </div>
      </div>
      <div class="message message-right" *ngIf="i.from =='usr'">
        <div class="bubble bubble-dark">
          <!-- if type == text  -->
          <!-- if type == image  -->
          <!-- if type == file  -->
          <!-- if type == carousel  -->
          {{i.msg | translate :langDef:langChange | async }}
        </div>
      </div>
    </div>
  </div>
  <!-- chat body -->
  <!-- type area -->
  <div>
    <form [formGroup]="msgInput" (submit)="sendMsg()">
      <div class="type-area">
        <input type="text" autocomplete="off" formControlName="inputMsg" id="inputText" class="input-text" placeholder="Type messages here..." />
        <button type="submit" class="button-send">Send</button>
      </div>
    </form>
  </div>
  <!-- type area -->
</div>
